<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.work.mywork">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 相机相册 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- IM SDK required start -->
    <!-- 允许程序振动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 麦克风权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- api 21后被标记为deprecated -->
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 用于获取wifi的获取权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许程序修改声音设置信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许程序开机自动运行 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 捕获屏幕所需权限，Q后新增权限(多人音视频屏幕分享使用) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
    从Android 11开始，必须要在AndroidManifest.xml清单文件中加入query权限申请，
    才能检测到手机上安装的三方应用包安装状态，否则会出现“错误码2008：没有安装应用”、
    “请先安装微信/QQ/微博/企业微信/钉钉/支付宝客户端”等现象
    -->
    <queries>
        <package android:name="com.tencent.mm" /> <!-- 指定微信包名 -->
        <package android:name="com.tencent.mobileqq" /> <!-- 指定qq包名 -->
        <package android:name="com.sina.weibo" /> <!-- 指定微博包名 -->
        <package android:name="com.tencent.wework" /> <!-- 指定企业微信包名 -->
        <package android:name="com.qzone" /> <!-- 指定qq空间包名 -->
        <package android:name="com.alibaba.android.rimet" /> <!-- 指定钉钉包名 -->
        <package android:name="com.eg.android.AlipayGphone" /> <!-- 指定支付宝包名 -->
        <package android:name="com.instagram.android" /> <!-- 指定instagram包名 -->
    </queries>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 腾讯tbs预览 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

        <activity android:name=".PdfWebviewActivity" />
        <activity android:name=".view.ManageActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".AppActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".PictuteActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="cn.com.csii.mobile.zxing.CaptureActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".view.ShowPdfActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.ShareBoardActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.work.mywork.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider> <!-- qq分享相关activity -->
        <!-- <activity -->
        <!-- android:name="com.tencent.tauth.AuthActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:noHistory="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
        <!-- <data android:scheme="tencent100424468"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="com.tencent.connect.common.AssistActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize"/> -->
        <!-- OCR添加activity  START -->
        <activity
            android:name="cn.cloudwalk.libproject.LiveResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.cloudwalk.libproject.LiveActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.cloudwalk.libproject.LiveStartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>